*~
.DS_Store
output/

# Editors
.bloop
.metals
.bsp
.idea
.vscode

# sbt & scala
target/

# Intellij garbage
.attach_pid*

# Do not commit benchmarks since they have absolute routes.
benchmark/*
!benchmark/src
benchmark/src/multi-jvm/scala/*
