<?xml version="1.0" encoding="UTF-8"?>
<!-- More at https://doc.akka.io/docs/akka/2.6/typed/logging.html#logging -->
<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%X{akkaAddress}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <!-- The timestamp is created once at the very beginning of the execution -->
    <!-- See ERROR FILE for an example -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="ERROR FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- At every launch, a new file is created for errors with the timestamp -->
        <file>target/error-${bySecond}.log</file>
        <encoder>
            <pattern>[%level] [%X{akkaAddress}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- This should only log messages marked with the MatchesFilter.marker -->
    <appender name="MATCHES FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="dcer.core.logging.MatchFilter" />
        <file>target/matches.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- This should only log messages marked with the TimeFilter.marker -->
    <appender name="TIME FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="dcer.core.logging.TimeFilter" />
        <file>target/time.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- This should only log messages marked with the StatsFilter.marker -->
    <appender name="STATS FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="dcer.core.logging.StatsFilter" />
        <file>target/stats.log</file>
        <append>false</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- ERROR, WARN, INFO but not DEBUG nor TRACE -->
    <root level="INFO">
        <appender-ref ref="ASYNC STDOUT"/>
        <appender-ref ref="ERROR FILE"/>
        <appender-ref ref="MATCHES FILE"/>
        <appender-ref ref="TIME FILE"/>
        <appender-ref ref="STATS FILE"/>
    </root>
</configuration>
